.container {
    background-color: var(--black);
    color: var(--main-color);
    text-align: center;
    padding: 1rem;
    margin: .5rem;
}

.rating {
    color: var(--yellow);
}

.review {
    font-style: italic;
}

@media only screen and (max-width: 768px) {
    .container {
        font-size: .8rem;
    }
}