.footer {
    background-color: var(--black);
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    padding: .5rem;
}


@media only screen and (max-width: 768px) {
    .footer {
        font-size: .8rem;
    }
}